:host {
  display: block;
  --orion-tab-panel-active-display: block;
  --orion-tab-panel-inactive-display: none;
}

.orion-tab-panel {
  &--active {
    display: var(--orion-tab-panel-active-display);
  }
  &--inactive {
    display: var(--orion-tab-panel-inactive-display);
  }
}
