/* Reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: var(--orion-font-weight-semi-bold, 600);
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* Orion base styles */
html {
  font-family: var(--orion-font-family, "Open Sans", Arial, Helvetica, sans-serif);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--orion-font-family, "Open Sans", Arial, Helvetica, sans-serif);
  font-size: var(--orion-font-size-body, 18px);
  font-weight: var(--orion-font-weight-normal, 400);
  line-height: var(--orion-line-height-normal, 24px);
  color: var(--orion-color-text, #333);
  text-align: left;
  background-color: var(--orion-color-background, #fff);
}

*::selection {
  color: var(--orion-color-text, #333);
  background-color: var(--orion-color-background--selection, #d8d9eb);
}

/* Link styles */
a,
a:link {
  color: var(--orion-color-activation, #6244bb);
  text-decoration: underline;
}

a:visited {
  color: var(--orion-color-activation, #6244bb);
  text-decoration: underline;
}

/* For browsers that don't support :focus-visible */
a:focus {
  color: var(--orion-color-activation, #6244bb);
  text-decoration: underline;
  outline: var(--orion-border-thicker, 4px solid) var(--orion-color-focus, rgba(182, 184, 220, 0.5));
  border-radius: var(--orion-border-radius, 4px);
  width: fit-content;
}

/* Remove :focus styling for browsers that do support :focus-visible */
a:focus:not(:focus-visible) {
  outline: none;
}

/* Add focus styling back in browsers that do support :focus-visible */
a:focus-visible {
  color: var(--orion-color-activation, #6244bb);
  text-decoration: underline;
  outline: var(--orion-border-thicker, 4px solid) var(--orion-color-focus, rgba(182, 184, 220, 0.5));
  border-radius: var(--orion-border-radius, 4px);
  width: fit-content;
}

a:hover {
  color: var(--orion-color-hover-dark, #8972cc);
  text-decoration: underline;
}

a:active {
  color: var(--orion-color-active, #49328c);
  text-decoration: underline;
}

a[disabled=disabled] {
  color: var(--orion-color-text--dimmed, #666);
  text-decoration: underline;
  cursor: not-allowed;
}

a,
button {
  cursor: pointer;
}

/* Typography styles */
h1 {
  font-size: var(--orion-font-size-title1, 32px);
  line-height: var(--orion-line-height-xl, 40px);
}

h2 {
  font-size: var(--orion-font-size-title2, 28px);
  line-height: var(--orion-line-height-xl, 40px);
}

h3 {
  font-size: var(--orion-font-size-title3, 24px);
  line-height: var(--orion-line-height-lg, 32px);
}

h4 {
  font-size: var(--orion-font-size-title4, 20px);
  line-height: var(--orion-line-height-md, 24px);
}

h5 {
  font-size: var(--orion-font-size-title5, 18px);
  line-height: var(--orion-line-height-md, 24px);
}

h6 {
  font-size: var(--orion-font-size-title6, 13px);
  line-height: var(--orion-line-height-sm, 16px);
}

label {
  font-size: var(--orion-font-size-label, 18px);
  line-height: var(--orion-line-height-md, 24px);
}

p,
li {
  font-size: var(--orion-font-size-body, 18px);
  line-height: var(--orion-line-height-md, 24px);
}

small {
  font-size: var(--orion-font-size-small, 13px);
  line-height: var(--orion-line-height-sm, 16px);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

strong,
b {
  font-weight: var(--orion-font-weight-semi-bold, 600);
}

@media screen and (min-width: 769px) {
  body {
    font-size: var(--orion-font-size-body, 16px);
  }
  h5 {
    font-size: var(--orion-font-size-title5, 16px);
  }
  label {
    font-size: var(--orion-font-size-label, 16px);
  }
  p,
li {
    font-size: var(--orion-font-size-body, 16px);
  }
}
/* Fix for sticky hover state on mobile device after click */
@media (hover: none) {
  a:hover {
    color: var(--orion-color-activation, #6244bb);
    text-decoration: underline;
  }
}
i[class^=orion-icon-]:before, i[class*=" orion-icon-"]:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orion-icon-add_pet:before {
  content: "\f101";
}

.orion-icon-add_traveler:before {
  content: "\f102";
}

.orion-icon-add:before {
  content: "\f103";
}

.orion-icon-adult_beverage:before {
  content: "\f104";
}

.orion-icon-alert:before {
  content: "\f105";
}

.orion-icon-arrow_down:before {
  content: "\f106";
}

.orion-icon-arrow_left:before {
  content: "\f107";
}

.orion-icon-arrow_right:before {
  content: "\f108";
}

.orion-icon-arrow_up:before {
  content: "\f109";
}

.orion-icon-at:before {
  content: "\f10a";
}

.orion-icon-baggage:before {
  content: "\f10b";
}

.orion-icon-bar_chart:before {
  content: "\f10c";
}

.orion-icon-beverage:before {
  content: "\f10d";
}

.orion-icon-boarding_pass:before {
  content: "\f10e";
}

.orion-icon-bundle:before {
  content: "\f10f";
}

.orion-icon-calendar:before {
  content: "\f110";
}

.orion-icon-cancel:before {
  content: "\f111";
}

.orion-icon-caps_lock_off:before {
  content: "\f112";
}

.orion-icon-caps_lock_on:before {
  content: "\f113";
}

.orion-icon-caret_down:before {
  content: "\f114";
}

.orion-icon-caret_up:before {
  content: "\f115";
}

.orion-icon-cart:before {
  content: "\f116";
}

.orion-icon-change:before {
  content: "\f117";
}

.orion-icon-check_box:before {
  content: "\f118";
}

.orion-icon-check_list:before {
  content: "\f119";
}

.orion-icon-chevron_close:before {
  content: "\f11a";
}

.orion-icon-chevron_left:before {
  content: "\f11b";
}

.orion-icon-chevron_open:before {
  content: "\f11c";
}

.orion-icon-chevron_right:before {
  content: "\f11d";
}

.orion-icon-child:before {
  content: "\f11e";
}

.orion-icon-clear:before {
  content: "\f11f";
}

.orion-icon-clock:before {
  content: "\f120";
}

.orion-icon-close:before {
  content: "\f121";
}

.orion-icon-closet:before {
  content: "\f122";
}

.orion-icon-cloudy:before {
  content: "\f123";
}

.orion-icon-comp_upgrade:before {
  content: "\f124";
}

.orion-icon-container_add:before {
  content: "\f125";
}

.orion-icon-container_ready:before {
  content: "\f126";
}

.orion-icon-container_remove:before {
  content: "\f127";
}

.orion-icon-container:before {
  content: "\f128";
}

.orion-icon-copy:before {
  content: "\f129";
}

.orion-icon-credit_card:before {
  content: "\f12a";
}

.orion-icon-detach:before {
  content: "\f12b";
}

.orion-icon-directv:before {
  content: "\f12c";
}

.orion-icon-download_excel:before {
  content: "\f12d";
}

.orion-icon-download_file:before {
  content: "\f12e";
}

.orion-icon-download_folder:before {
  content: "\f12f";
}

.orion-icon-download_pdf:before {
  content: "\f130";
}

.orion-icon-download:before {
  content: "\f131";
}

.orion-icon-drag_btm_left:before {
  content: "\f132";
}

.orion-icon-drag_btm_right:before {
  content: "\f133";
}

.orion-icon-drag_top_left:before {
  content: "\f134";
}

.orion-icon-drag_top_right:before {
  content: "\f135";
}

.orion-icon-drag:before {
  content: "\f136";
}

.orion-icon-edit:before {
  content: "\f137";
}

.orion-icon-email:before {
  content: "\f138";
}

.orion-icon-extra_legroom:before {
  content: "\f139";
}

.orion-icon-farelock:before {
  content: "\f13a";
}

.orion-icon-favorite_off:before {
  content: "\f13b";
}

.orion-icon-favorite_on:before {
  content: "\f13c";
}

.orion-icon-filter:before {
  content: "\f13d";
}

.orion-icon-fog:before {
  content: "\f13e";
}

.orion-icon-food:before {
  content: "\f13f";
}

.orion-icon-freezing_rain:before {
  content: "\f140";
}

.orion-icon-gift:before {
  content: "\f141";
}

.orion-icon-global_reception:before {
  content: "\f142";
}

.orion-icon-gsmc:before {
  content: "\f143";
}

.orion-icon-gsme:before {
  content: "\f144";
}

.orion-icon-headphones:before {
  content: "\f145";
}

.orion-icon-home:before {
  content: "\f146";
}

.orion-icon-hourglass:before {
  content: "\f147";
}

.orion-icon-hurricane:before {
  content: "\f148";
}

.orion-icon-in_seat_power:before {
  content: "\f149";
}

.orion-icon-infant:before {
  content: "\f14a";
}

.orion-icon-info:before {
  content: "\f14b";
}

.orion-icon-kiosk:before {
  content: "\f14c";
}

.orion-icon-language:before {
  content: "\f14d";
}

.orion-icon-lap_infant:before {
  content: "\f14e";
}

.orion-icon-lightning:before {
  content: "\f14f";
}

.orion-icon-live_tv:before {
  content: "\f150";
}

.orion-icon-location:before {
  content: "\f151";
}

.orion-icon-locked:before {
  content: "\f152";
}

.orion-icon-map:before {
  content: "\f153";
}

.orion-icon-menu:before {
  content: "\f154";
}

.orion-icon-message:before {
  content: "\f155";
}

.orion-icon-microphone_off:before {
  content: "\f156";
}

.orion-icon-microphone_on:before {
  content: "\f157";
}

.orion-icon-mileageplus_gold:before {
  content: "\f158";
}

.orion-icon-mileageplus_gs:before {
  content: "\f159";
}

.orion-icon-mileageplus_k:before {
  content: "\f15a";
}

.orion-icon-mileageplus_platinum:before {
  content: "\f15b";
}

.orion-icon-mileageplus_silver:before {
  content: "\f15c";
}

.orion-icon-mileageplus:before {
  content: "\f15d";
}

.orion-icon-minus:before {
  content: "\f15e";
}

.orion-icon-more_menu_horizontal:before {
  content: "\f15f";
}

.orion-icon-more_menu_vertical:before {
  content: "\f160";
}

.orion-icon-mostly_cloudy_night:before {
  content: "\f161";
}

.orion-icon-mostly_cloudy:before {
  content: "\f162";
}

.orion-icon-mouse:before {
  content: "\f163";
}

.orion-icon-movies:before {
  content: "\f164";
}

.orion-icon-music:before {
  content: "\f165";
}

.orion-icon-my_trips:before {
  content: "\f166";
}

.orion-icon-notes:before {
  content: "\f167";
}

.orion-icon-notifications:before {
  content: "\f168";
}

.orion-icon-on_demand:before {
  content: "\f169";
}

.orion-icon-partly_cloudy_night:before {
  content: "\f16a";
}

.orion-icon-partly_cloudy:before {
  content: "\f16b";
}

.orion-icon-personal_device:before {
  content: "\f16c";
}

.orion-icon-pet:before {
  content: "\f16d";
}

.orion-icon-phone:before {
  content: "\f16e";
}

.orion-icon-pin:before {
  content: "\f16f";
}

.orion-icon-pinned:before {
  content: "\f170";
}

.orion-icon-plane_arriving:before {
  content: "\f171";
}

.orion-icon-plane_departing:before {
  content: "\f172";
}

.orion-icon-plane:before {
  content: "\f173";
}

.orion-icon-plus:before {
  content: "\f174";
}

.orion-icon-premier_access:before {
  content: "\f175";
}

.orion-icon-price:before {
  content: "\f176";
}

.orion-icon-print:before {
  content: "\f177";
}

.orion-icon-priority_desk:before {
  content: "\f178";
}

.orion-icon-priority:before {
  content: "\f179";
}

.orion-icon-question:before {
  content: "\f17a";
}

.orion-icon-rain:before {
  content: "\f17b";
}

.orion-icon-rating:before {
  content: "\f17c";
}

.orion-icon-re_attach:before {
  content: "\f17d";
}

.orion-icon-redeposit:before {
  content: "\f17e";
}

.orion-icon-refresh:before {
  content: "\f17f";
}

.orion-icon-register:before {
  content: "\f180";
}

.orion-icon-restrooms:before {
  content: "\f181";
}

.orion-icon-scan_bag:before {
  content: "\f182";
}

.orion-icon-scan_container:before {
  content: "\f183";
}

.orion-icon-scan:before {
  content: "\f184";
}

.orion-icon-scattered_showers:before {
  content: "\f185";
}

.orion-icon-scattered_snow:before {
  content: "\f186";
}

.orion-icon-scattered_storms:before {
  content: "\f187";
}

.orion-icon-search:before {
  content: "\f188";
}

.orion-icon-seat:before {
  content: "\f189";
}

.orion-icon-settings:before {
  content: "\f18a";
}

.orion-icon-share:before {
  content: "\f18b";
}

.orion-icon-showers_night:before {
  content: "\f18c";
}

.orion-icon-ski_boot:before {
  content: "\f18d";
}

.orion-icon-sleet:before {
  content: "\f18e";
}

.orion-icon-snow_night:before {
  content: "\f18f";
}

.orion-icon-snow:before {
  content: "\f190";
}

.orion-icon-special_needs:before {
  content: "\f191";
}

.orion-icon-sports_equipment:before {
  content: "\f192";
}

.orion-icon-standby:before {
  content: "\f193";
}

.orion-icon-storms_night:before {
  content: "\f194";
}

.orion-icon-storms:before {
  content: "\f195";
}

.orion-icon-stroller:before {
  content: "\f196";
}

.orion-icon-subtract:before {
  content: "\f197";
}

.orion-icon-success:before {
  content: "\f198";
}

.orion-icon-sunny:before {
  content: "\f199";
}

.orion-icon-teen:before {
  content: "\f19a";
}

.orion-icon-trash:before {
  content: "\f19b";
}

.orion-icon-traveler_connecting:before {
  content: "\f19c";
}

.orion-icon-traveler_group:before {
  content: "\f19d";
}

.orion-icon-traveler:before {
  content: "\f19e";
}

.orion-icon-united_club:before {
  content: "\f19f";
}

.orion-icon-unlocked:before {
  content: "\f1a0";
}

.orion-icon-unpin:before {
  content: "\f1a1";
}

.orion-icon-upgrade:before {
  content: "\f1a2";
}

.orion-icon-user_default:before {
  content: "\f1a3";
}

.orion-icon-vaccine:before {
  content: "\f1a4";
}

.orion-icon-view_off:before {
  content: "\f1a5";
}

.orion-icon-view_on:before {
  content: "\f1a6";
}

.orion-icon-weight:before {
  content: "\f1a7";
}

.orion-icon-wifi:before {
  content: "\f1a8";
}

.orion-icon-windy:before {
  content: "\f1a9";
}

.orion-icon-wintery_mix:before {
  content: "\f1aa";
}

.orion-icon-wrench:before {
  content: "\f1ab";
}

i[class^=orion-icon-sm-]:before, i[class*=" orion-icon-sm-"]:before {
  font-family: icons-sm !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orion-icon-sm-add_pet:before {
  content: "\f101";
}

.orion-icon-sm-add_traveler:before {
  content: "\f102";
}

.orion-icon-sm-add:before {
  content: "\f103";
}

.orion-icon-sm-adult_beverage:before {
  content: "\f104";
}

.orion-icon-sm-alert:before {
  content: "\f105";
}

.orion-icon-sm-arrow_down:before {
  content: "\f106";
}

.orion-icon-sm-arrow_left:before {
  content: "\f107";
}

.orion-icon-sm-arrow_right:before {
  content: "\f108";
}

.orion-icon-sm-arrow_up:before {
  content: "\f109";
}

.orion-icon-sm-at:before {
  content: "\f10a";
}

.orion-icon-sm-baggage:before {
  content: "\f10b";
}

.orion-icon-sm-bar_chart:before {
  content: "\f10c";
}

.orion-icon-sm-beverage:before {
  content: "\f10d";
}

.orion-icon-sm-boarding_pass:before {
  content: "\f10e";
}

.orion-icon-sm-bundle:before {
  content: "\f10f";
}

.orion-icon-sm-calendar:before {
  content: "\f110";
}

.orion-icon-sm-cancel:before {
  content: "\f111";
}

.orion-icon-sm-caps_lock_off:before {
  content: "\f112";
}

.orion-icon-sm-caps_lock_on:before {
  content: "\f113";
}

.orion-icon-sm-caret_down:before {
  content: "\f114";
}

.orion-icon-sm-caret_up:before {
  content: "\f115";
}

.orion-icon-sm-cart:before {
  content: "\f116";
}

.orion-icon-sm-change:before {
  content: "\f117";
}

.orion-icon-sm-check_box:before {
  content: "\f118";
}

.orion-icon-sm-check_list:before {
  content: "\f119";
}

.orion-icon-sm-chevron_close:before {
  content: "\f11a";
}

.orion-icon-sm-chevron_left:before {
  content: "\f11b";
}

.orion-icon-sm-chevron_open:before {
  content: "\f11c";
}

.orion-icon-sm-chevron_right:before {
  content: "\f11d";
}

.orion-icon-sm-child:before {
  content: "\f11e";
}

.orion-icon-sm-clear:before {
  content: "\f11f";
}

.orion-icon-sm-clock:before {
  content: "\f120";
}

.orion-icon-sm-close:before {
  content: "\f121";
}

.orion-icon-sm-closet:before {
  content: "\f122";
}

.orion-icon-sm-cloudy:before {
  content: "\f123";
}

.orion-icon-sm-comp_upgrade:before {
  content: "\f124";
}

.orion-icon-sm-container_add:before {
  content: "\f125";
}

.orion-icon-sm-container_ready:before {
  content: "\f126";
}

.orion-icon-sm-container_remove:before {
  content: "\f127";
}

.orion-icon-sm-container:before {
  content: "\f128";
}

.orion-icon-sm-copy:before {
  content: "\f129";
}

.orion-icon-sm-credit_card:before {
  content: "\f12a";
}

.orion-icon-sm-detach:before {
  content: "\f12b";
}

.orion-icon-sm-directv:before {
  content: "\f12c";
}

.orion-icon-sm-download_excel:before {
  content: "\f12d";
}

.orion-icon-sm-download_file:before {
  content: "\f12e";
}

.orion-icon-sm-download_folder:before {
  content: "\f12f";
}

.orion-icon-sm-download_pdf:before {
  content: "\f130";
}

.orion-icon-sm-download:before {
  content: "\f131";
}

.orion-icon-sm-drag_btm_left:before {
  content: "\f132";
}

.orion-icon-sm-drag_btm_right:before {
  content: "\f133";
}

.orion-icon-sm-drag_top_left:before {
  content: "\f134";
}

.orion-icon-sm-drag_top_right:before {
  content: "\f135";
}

.orion-icon-sm-drag:before {
  content: "\f136";
}

.orion-icon-sm-edit:before {
  content: "\f137";
}

.orion-icon-sm-email:before {
  content: "\f138";
}

.orion-icon-sm-extra_legroom:before {
  content: "\f139";
}

.orion-icon-sm-farelock:before {
  content: "\f13a";
}

.orion-icon-sm-favorite_off:before {
  content: "\f13b";
}

.orion-icon-sm-favorite_on:before {
  content: "\f13c";
}

.orion-icon-sm-filter:before {
  content: "\f13d";
}

.orion-icon-sm-fog:before {
  content: "\f13e";
}

.orion-icon-sm-food:before {
  content: "\f13f";
}

.orion-icon-sm-freezing_rain:before {
  content: "\f140";
}

.orion-icon-sm-gift:before {
  content: "\f141";
}

.orion-icon-sm-global_reception:before {
  content: "\f142";
}

.orion-icon-sm-gsmc:before {
  content: "\f143";
}

.orion-icon-sm-gsme:before {
  content: "\f144";
}

.orion-icon-sm-headphones:before {
  content: "\f145";
}

.orion-icon-sm-home:before {
  content: "\f146";
}

.orion-icon-sm-hourglass:before {
  content: "\f147";
}

.orion-icon-sm-hurricane:before {
  content: "\f148";
}

.orion-icon-sm-in_seat_power:before {
  content: "\f149";
}

.orion-icon-sm-infant:before {
  content: "\f14a";
}

.orion-icon-sm-info:before {
  content: "\f14b";
}

.orion-icon-sm-kiosk:before {
  content: "\f14c";
}

.orion-icon-sm-language:before {
  content: "\f14d";
}

.orion-icon-sm-lap_infant:before {
  content: "\f14e";
}

.orion-icon-sm-lightning:before {
  content: "\f14f";
}

.orion-icon-sm-live_tv:before {
  content: "\f150";
}

.orion-icon-sm-location:before {
  content: "\f151";
}

.orion-icon-sm-locked:before {
  content: "\f152";
}

.orion-icon-sm-map:before {
  content: "\f153";
}

.orion-icon-sm-menu:before {
  content: "\f154";
}

.orion-icon-sm-message:before {
  content: "\f155";
}

.orion-icon-sm-microphone_off:before {
  content: "\f156";
}

.orion-icon-sm-microphone_on:before {
  content: "\f157";
}

.orion-icon-sm-mileageplus_gold:before {
  content: "\f158";
}

.orion-icon-sm-mileageplus_gs:before {
  content: "\f159";
}

.orion-icon-sm-mileageplus_k:before {
  content: "\f15a";
}

.orion-icon-sm-mileageplus_platinum:before {
  content: "\f15b";
}

.orion-icon-sm-mileageplus_silver:before {
  content: "\f15c";
}

.orion-icon-sm-mileageplus:before {
  content: "\f15d";
}

.orion-icon-sm-minus:before {
  content: "\f15e";
}

.orion-icon-sm-more_menu_horizontal:before {
  content: "\f15f";
}

.orion-icon-sm-more_menu_vertical:before {
  content: "\f160";
}

.orion-icon-sm-mostly_cloudy_night:before {
  content: "\f161";
}

.orion-icon-sm-mostly_cloudy:before {
  content: "\f162";
}

.orion-icon-sm-mouse:before {
  content: "\f163";
}

.orion-icon-sm-movies:before {
  content: "\f164";
}

.orion-icon-sm-music:before {
  content: "\f165";
}

.orion-icon-sm-my_trips:before {
  content: "\f166";
}

.orion-icon-sm-notes:before {
  content: "\f167";
}

.orion-icon-sm-notifications:before {
  content: "\f168";
}

.orion-icon-sm-on_demand:before {
  content: "\f169";
}

.orion-icon-sm-partly_cloudy_night:before {
  content: "\f16a";
}

.orion-icon-sm-partly_cloudy:before {
  content: "\f16b";
}

.orion-icon-sm-personal_device:before {
  content: "\f16c";
}

.orion-icon-sm-pet:before {
  content: "\f16d";
}

.orion-icon-sm-phone:before {
  content: "\f16e";
}

.orion-icon-sm-pin:before {
  content: "\f16f";
}

.orion-icon-sm-pinned:before {
  content: "\f170";
}

.orion-icon-sm-plane_arriving:before {
  content: "\f171";
}

.orion-icon-sm-plane_departing:before {
  content: "\f172";
}

.orion-icon-sm-plane:before {
  content: "\f173";
}

.orion-icon-sm-plus:before {
  content: "\f174";
}

.orion-icon-sm-premier_access:before {
  content: "\f175";
}

.orion-icon-sm-price:before {
  content: "\f176";
}

.orion-icon-sm-print:before {
  content: "\f177";
}

.orion-icon-sm-priority_desk:before {
  content: "\f178";
}

.orion-icon-sm-priority:before {
  content: "\f179";
}

.orion-icon-sm-question:before {
  content: "\f17a";
}

.orion-icon-sm-rain:before {
  content: "\f17b";
}

.orion-icon-sm-rating:before {
  content: "\f17c";
}

.orion-icon-sm-re_attach:before {
  content: "\f17d";
}

.orion-icon-sm-redeposit:before {
  content: "\f17e";
}

.orion-icon-sm-refresh:before {
  content: "\f17f";
}

.orion-icon-sm-register:before {
  content: "\f180";
}

.orion-icon-sm-restrooms:before {
  content: "\f181";
}

.orion-icon-sm-scan_bag:before {
  content: "\f182";
}

.orion-icon-sm-scan_container:before {
  content: "\f183";
}

.orion-icon-sm-scan:before {
  content: "\f184";
}

.orion-icon-sm-scattered_showers:before {
  content: "\f185";
}

.orion-icon-sm-scattered_snow:before {
  content: "\f186";
}

.orion-icon-sm-scattered_storms:before {
  content: "\f187";
}

.orion-icon-sm-search:before {
  content: "\f188";
}

.orion-icon-sm-seat:before {
  content: "\f189";
}

.orion-icon-sm-settings:before {
  content: "\f18a";
}

.orion-icon-sm-share:before {
  content: "\f18b";
}

.orion-icon-sm-showers_night:before {
  content: "\f18c";
}

.orion-icon-sm-ski_boot:before {
  content: "\f18d";
}

.orion-icon-sm-sleet:before {
  content: "\f18e";
}

.orion-icon-sm-snow_night:before {
  content: "\f18f";
}

.orion-icon-sm-snow:before {
  content: "\f190";
}

.orion-icon-sm-special_needs:before {
  content: "\f191";
}

.orion-icon-sm-sports_equipment:before {
  content: "\f192";
}

.orion-icon-sm-standby:before {
  content: "\f193";
}

.orion-icon-sm-storms_night:before {
  content: "\f194";
}

.orion-icon-sm-storms:before {
  content: "\f195";
}

.orion-icon-sm-stroller:before {
  content: "\f196";
}

.orion-icon-sm-subtract:before {
  content: "\f197";
}

.orion-icon-sm-success:before {
  content: "\f198";
}

.orion-icon-sm-sunny:before {
  content: "\f199";
}

.orion-icon-sm-teen:before {
  content: "\f19a";
}

.orion-icon-sm-trash:before {
  content: "\f19b";
}

.orion-icon-sm-traveler_connecting:before {
  content: "\f19c";
}

.orion-icon-sm-traveler_group:before {
  content: "\f19d";
}

.orion-icon-sm-traveler:before {
  content: "\f19e";
}

.orion-icon-sm-united_club:before {
  content: "\f19f";
}

.orion-icon-sm-unlocked:before {
  content: "\f1a0";
}

.orion-icon-sm-unpin:before {
  content: "\f1a1";
}

.orion-icon-sm-upgrade:before {
  content: "\f1a2";
}

.orion-icon-sm-user_default:before {
  content: "\f1a3";
}

.orion-icon-sm-vaccine:before {
  content: "\f1a4";
}

.orion-icon-sm-view_off:before {
  content: "\f1a5";
}

.orion-icon-sm-view_on:before {
  content: "\f1a6";
}

.orion-icon-sm-weight:before {
  content: "\f1a7";
}

.orion-icon-sm-wifi:before {
  content: "\f1a8";
}

.orion-icon-sm-windy:before {
  content: "\f1a9";
}

.orion-icon-sm-wintery_mix:before {
  content: "\f1aa";
}

.orion-icon-sm-wrench:before {
  content: "\f1ab";
}

/* Icon font */
/**
 * @prop --orion-list-item-icon-color: value of the color property. Default is #024
 * @prop --orion-list-item-trailing-icon-color: value of the background-color property of the trailing icon. Default is #024
 * @prop --orion-list-item-marker-color: value of the background-color property of the marker. Default is #024
 * @prop --orion-list-item-marker-size: value of the width and height properties. Default is 16px
 * @prop --orion-list-item--vertical-align: Alignment of list item content. Default is center. Can be set to flex-start or flex-end.
 */
:host {
  display: block;
  --orion-list-item-icon-color: var(--orion-info, #024);
  --orion-list-item-trailing-icon-color: var(--orion-info, #024);
  --orion-list-item-marker-color: var(--orion-info, #024);
  --orion-list-item-marker-size: var(--orion-space-xl, 16px);
  --orion-list-item--vertical-align: center;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.orion-list-item {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: var(--orion-list-item--vertical-align);
  width: 100%;
  max-width: var(--orion-container-width-md, 944px);
  min-height: var(--orion-touch-size, 60px);
  background-color: var(--orion-white, #fff);
  font-family: var(--orion-font-family, "Open Sans", Arial, Helvetica, sans-serif);
  color: var(--orion-color-text, #333);
  font-size: var(--orion-font-size-body, 18px);
  font-weight: var(--orion-font-weight-normal, 400);
  letter-spacing: 0;
  line-height: var(--orion-line-height-normal, 24px);
  margin: 0;
  padding: var(--orion-space-xxl, 18px) var(--orion-space-xl, 16px);
  gap: var(--orion-space-md, 8px);
  border: none;
  transition: var(--orion-transition, 200ms ease-in-out);
}
.orion-list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--orion-gray-40, #999);
}

.orion-list-item__marker-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: var(--orion-line-height-normal, 24px);
  width: fit-content;
  align-self: flex-start;
}

.orion-list-item__marker {
  height: var(--orion-list-item-marker-size);
  width: var(--orion-list-item-marker-size);
  border-radius: 50%;
  background-color: var(--orion-list-item-marker-color);
}

.orion-list-item__icon,
.orion-list-item__trailing-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: var(--orion-icon-size, 24px);
  width: var(--orion-line-height-normal, 24px);
  height: var(--orion-line-height-normal, 24px);
}

.orion-list-item__icon {
  color: var(--orion-list-item-icon-color);
  align-self: flex-start;
}

.orion-list-item__trailing-icon {
  color: var(--orion-list-item-trailing-icon-color);
}

.orion-list-item__image {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-start;
}

.orion-list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

.orion-list-item__heading {
  font-weight: 600;
}

.orion-list-item__subheading {
  font-size: var(--orion-font-size-small, 13px);
  line-height: var(--orion-line-height-sm, 16px);
}

.orion-list-item--disabled,
.orion-list-item--disabled .orion-list-item__icon,
.orion-list-item--disabled .orion-list-item__trailing-icon {
  background-color: var(--orion-color-background--dimmed, #e6e6e6);
  color: var(--orion-color-text--dimmed, #666);
}

.orion-list-item--disabled .orion-list-item__marker {
  background-color: var(--orion-color-text--dimmed, #666);
}

.orion-list-item--disabled .orion-list-item__image {
  opacity: 0.5;
}

.orion-list-item__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: var(--orion-list-item--vertical-align);
  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--orion-space-md, 8px);
}

.orion-list-item__link:focus-visible {
  outline: var(--orion-border-thicker, 4px solid) var(--orion-color-focus, rgba(182, 184, 220, 0.5));
  outline-offset: 4px;
  z-index: 1;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .orion-list-item {
    min-height: var(--orion-touch-size, 40px);
    font-size: var(--orion-font-size-body, 16px);
    padding: var(--orion-space-md, 8px) var(--orion-space-xl, 16px);
  }
  .orion-list-item__icon,
.orion-list-item__trailing-icon {
    font-size: var(--orion-icon-size-sm, 16px);
  }
}

/*# sourceMappingURL=orion-list-item.css.map */
