@use '../../css/_orion-base.css';

:host {
  display: block;
  background-color: var(--orion-white, #fff);
}

input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

.orion-dropdown__option {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin: 0;
  padding: var(--orion-space-xxl, 18px) var(--orion-space-lg, 12px);
  cursor: pointer;
  background-color: var(--orion-color-background, #fff);
}

.orion-dropdown__option--disabled {
  color: var(--orion-color-text--dimmed, #666);
  -webkit-text-fill-color: var(--orion-color-text--dimmed, #666);
  background-color: var(--orion-color-background--dimmed, #e6e6e6);
  cursor: not-allowed;
}

.orion-dropdown__option:after {
  content: '';
  width: var(--orion-icon-size, 24px);
  height: var(--orion-icon-size, 24px);
  position: absolute;
  top: 20px;
  right: 12px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTguMTQzLDEzLjM1NSBMMy40MTYzMzUzNCw4LjYyOTE2NDcyIEMyLjg3OTQyMDMyLDguMDkyMzQzOTEgMi4wMDg5ODU0NCw4LjA5MjQyMDI5IDEuNDcyMTY0NjQsOC42MjkzMzUzMSBDMS40NzIxMDk3NSw4LjYyOTM5MDIgMS40NzIwNTQ4Nyw4LjYyOTQ0NTEgMS40NzIsOC42Mjk1IEMwLjkzNTE1OTM3Nyw5LjE2NjYxNjc4IDAuOTM1MzI4MjkyLDEwLjAzNzIxNDMgMS40NzIzNzczLDEwLjU3NDEyMjcgTDcuNDMyODAwNjYsMTYuNTMyOTg1OCBDNy44MjM0NzQ3MywxNi45MjMyMzM4IDguNDU2NTE0ODYsMTYuOTIzMjIzNCA4Ljg0NzE3NjEsMTYuNTMyOTYyNSBMMjIuNDY5NjU0NywyLjkxMzE1NDggQzIzLjAwNTkyMzMsMi4zNzY5OTE0MyAyMy4wMDYwMDg1LDEuNTA3NjEzNiAyMi40Njk4NDUxLDAuOTcxMzQ1MDc0IEMyMi40Njk3MzAxLDAuOTcxMjMwMDI5IDIyLjQ2OTYxNTEsMC45NzExMTUwMDQgMjIuNDY5NSwwLjk3MSBDMjEuOTMyOTE0OSwwLjQzNDY5MTA4MyAyMS4wNjMxOTcsMC40MzQ4MDMwMTYgMjAuNTI2NzUsMC45NzEyNTAwMzIiIGlkPSJwYXRoLTEiPjwvcGF0aD48L3N2Zz4=');
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(110deg) brightness(106%) contrast(101%);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

input:checked ~ .orion-dropdown__option {
  background-color: var(--orion-color-activation, #6244bb);
  color: var(--orion-white, #fff);
}
input:checked ~ .orion-dropdown__option:after {
  display: block;
}

input:hover:not(:checked) + .orion-dropdown__option {
  background-color: var(--orion-color-hover-light, #eaeaf3);
}
input:disabled:hover ~ .orion-dropdown__option {
  background-color: var(--orion-color-background--dimmed, #e6e6e6);
  cursor: not-allowed;
}

@media screen and (min-width: 769px) {
  .orion-dropdown__option {
    padding: var(--orion-space-md, 8px);
  }
  .orion-dropdown__option:after {
    width: var(--orion-icon-size, 20px);
    height: var(--orion-icon-size, 20px);
    top: 12px;
    right: 8px;
  }
}
