@use '../../css/_orion-base.css';

/**
 * @prop --orion-stepper-tally-width: value of the tally width (default: 60px for mobile, 44px for desktop)
 */

:host {
  display: block;
  --orion-stepper-tally-width: var(--orion-touch-size);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='number'],
input[type='number']:focus,
input[type='number']:hover,
input[type='number']:active,
input[type='number']:disabled {
  -moz-appearance: textfield;
  appearance: textfield;
}
input {
  outline: none;
}

.orion-stepper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: var(--orion-container-width-md, 944px);
  margin: 0;
  padding: 0;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border-top: var(--orion-border-standard, 1px solid) var(--orion-color-text, #333);
  border-bottom: var(--orion-border-standard, 1px solid) var(--orion-color-text, #333);
  background-color: var(--orion-color-background, #fff);
  width: var(--orion-stepper-tally-width);
  height: var(--orion-touch-size, 60px);
  text-align: center;
  font-family: var(--orion-font-family, 'Open Sans', Arial, Helvetica, sans-serif);
  color: var(--orion-color-text, #333);
  font-size: var(--orion-font-size-body, 18px);
  font-weight: var(--orion-font-weight-normal, 400);
  letter-spacing: 0;
  line-height: var(--orion-line-height-normal, 24px);
  margin: 0;
  padding: 0;
  transition: var(--orion-transition, 200ms ease-in-out);
}

input:focus {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: inset 0 0 0 2px var(--orion-color-activation, #6244bb);
}
input::selection {
  background-color: var(--orion-color-focus, #d8d9eb);
}
input:disabled {
  color: var(--orion-color-text--dimmed, #666);
  -webkit-text-fill-color: var(--orion-color-text--dimmed, #666);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--orion-color-background--dimmed, #e6e6e6);
  border-color: var(--orion-color-text--dimmed, #666);
  opacity: 1;
  cursor: not-allowed;
}

.orion-stepper--error {
  input {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    border: 2px solid var(--orion-color-error, #d50032);

    &:focus {
      border: 1px solid var(--orion-color-activation, #6244bb);
      box-shadow: inset 0 0 0 2px var(--orion-color-activation, #6244bb);
    }
  }

  .orion-stepper__button-left {
    border-right: none;
    padding-right: 1px;
  }

  .orion-stepper__button-right {
    border-left: none;
    padding-left: 1px;
  }
}

.orion-stepper--hide-tally {
  input {
    display: none;
  }
}

.orion-stepper__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: var(--orion-border-standard, 1px solid) var(--orion-color-activation, #6244bb);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--orion-color-background, #fff);
  width: var(--orion-touch-size, 60px);
  height: var(--orion-touch-size, 60px);
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: var(--orion-transition, 200ms ease-in-out);
}
.orion-stepper__button svg {
  fill: var(--orion-color-activation, #6244bb);
}

/* For browsers that don't support :focus-visible */
.orion-stepper__button:focus {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: var(--orion-box-shadow-thicker, 0 0 0 4px) var(--orion-color-focus, rgba(182, 184, 220, 0.5));
  z-index: var(--orion-z-base, 1);
}
/* Remove :focus styling for browsers that do support :focus-visible */
.orion-stepper__button:focus:not(:focus-visible) {
  box-shadow: none;
}
/* Add focus styling back in browsers that do support :focus-visible */
.orion-stepper__button:focus-visible {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: var(--orion-box-shadow-thicker, 0 0 0 4px) var(--orion-color-focus, rgba(182, 184, 220, 0.5));
  z-index: var(--orion-z-base, 1);
}

.orion-stepper__button:hover {
  color: var(--orion-color-activation, #6244bb);
  background-color: var(--orion-color-hover-light, #eaeaf3);
}
.orion-stepper__button:active {
  color: var(--orion-color-activation, #6244bb);
  background-color: var(--orion-dusk-50, #d8d9eb);
  border: var(--orion-border-standard, 1px solid) var(--orion-color-activation, #6244bb);
}

.orion-stepper__button:disabled {
  -webkit-appearance: none;
  appearance: none;
  border: var(--orion-border-standard, 1px solid) var(--orion-color-text--dimmed, #666);
  background-color: var(--orion-color-background--dimmed, #e6e6e6);
  cursor: not-allowed;
}
.orion-stepper__button:disabled svg {
  fill: var(--orion-color-text--dimmed, #666);
}

.orion-stepper__button-left {
  border-top-left-radius: var(--orion-border-radius, 4px);
  border-bottom-left-radius: var(--orion-border-radius, 4px);
}
.orion-stepper__button-right {
  border-top-right-radius: var(--orion-border-radius, 4px);
  border-bottom-right-radius: var(--orion-border-radius, 4px);
}

.svg-container__mobile {
  display: block;
  width: var(--orion-icon-size, 24px);
  height: var(--orion-icon-size, 24px);
}
.svg-container__desktop {
  display: none;
}

@media screen and (min-width: 769px) {
  :host {
    --orion-stepper-tally-width: calc(var(--orion-touch-size) + 4px);
  }
  input {
    font-size: var(--orion-font-size-body, 16px);
    width: var(--orion-stepper-tally-width);
    height: var(--orion-touch-size, 40px);
  }
  .orion-stepper__button {
    width: var(--orion-touch-size, 40px);
    height: var(--orion-touch-size, 40px);
  }
  .svg-container__mobile {
    display: none;
  }
  .svg-container__desktop {
    display: block;
    width: var(--orion-icon-size-sm, 16px);
    height: var(--orion-icon-size-sm, 16px);
  }
}

/* Fix for sticky hover state on mobile device after click */
@media (hover: none) {
  .orion-stepper__button:hover:not(:disabled) {
    color: var(--orion-color-activation, #6244bb);
    background-color: var(--orion-color-background, #fff);
  }
  .orion-stepper__button:hover:not(:disabled) svg {
    fill: var(--orion-color-activation, #6244bb);
  }
}
